* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
button {
  cursor: pointer;
}

div {
  /* border: 1px solid white; */
}

html {
  font-family: "Poppins-Medium", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}
#menuBar {
  display: flex;
  position: fixed;
  font-weight: bold;
  /* margin-top: 12px; */
  padding: 15px 0 15px 70px;
  /* padding-left: 70px; */
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);

  align-items: center;
  width: 100%;
  /* 스크롤 내리면 변경 */
  background-color: rgba(0, 0, 0, 0);
  color: white;
  z-index: 1000;
  transition-duration: 0.6s;
}

#menuBar_icon {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.menuBar_text {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 1.3rem;
}

#menuBar_search {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.1);

  padding: 8px;
  border-radius: 10px;
  width: calc(100% / 2);
  border: 3px solid lightgray;

  margin-left: 30px;
  margin-right: 30px;
  /* align-items: flex-start; */
}
#menuBar:focus {
  background-color: white;
}

input {
  border: 3px solid lightgray;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  transition-duration: 0.5s;
}

#search {
  width: 200%;
  transition-duration: 0.5s;
}

#menuBar_function {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
  justify-content: space-between;
  cursor: pointer;
}

.menuIcon {
  width: 35px;
  filter: invert();
  transition-duration: 0.5s;
}
.menuIcon .a {
  width: 35px;
  filter: none;
}

#mainBox {
  margin: 0;

  padding: 0;
  height: fit-content;
  /* background: wheat; */
}

.dropdown {
  display: inline-block;
  position: relative;
  /* overflow: hidden; */
  /* animation: dropMenu 1s; */
}
.dropList {
  visibility: hidden;
  opacity: 0;
  /* animation: dropMenu 1s; */
}
.dropList:hover {
  visibility: visible;
  opacity: 1;
  /* animation: dropMenu 1s; */
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 10;
  width: 12rem;
  text-decoration: none;
  color: black;
  overflow: hidden;

  animation: dropMenu 0.5s;
  transition: height ease-in-out 3s 0s;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px grey;
  /* top: 1.7rem; */
  left: -1rem;
  border-top: none;
  cursor: pointer;
}
.dropdown-content > div > img {
  width: 20px;
  /* animation: dropMenu 1s; */
}
.dropdown-content > div {
  padding: 0.5rem;
  padding-bottom: 0.2rem;
  opacity: 0.5;

  text-decoration: none;
  visibility: visible;
  opacity: 1;
  color: black;
  /* animation: dropMenu 1s; */
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  /* border-top: 1px solid lightgray; */
  border-bottom: 1px solid lightgray;
  padding: 0.7rem;
  padding-left: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 0.9rem;
  /* animation: dropMenu 1s; */

  visibility: visible;
  opacity: 1;
  color: black;
}

.dropdown-content a:last-child {
  border-bottom: none;
}
.dropdown:hover .dropdown-content {
  display: block;

  /* animation: dropMenu 1s; */

  text-decoration: none;
}
#searchDrop {
  /* width: 50rem; */
  width: 40vw;
  min-width: 40rem;
  animation: dropMenuSearch 0.5s;
  /* overflow: hidden; */
  max-height: 77vh;
}

.searchA:hover {
  box-shadow: 1px 1px 10px 1px grey;
  transition-duration: 0.5s;
}
.searchDrop a:last-child {
  border-bottom: none;
}

.searchDrop:hover {
  border-bottom: none;
}
/* 
.search: .dropdown-content {
  display: block;
} */
.dropdown-content:hover {
  display: block;

  /* animation: dropMenu 1s; */
  text-decoration: none;
}
#stats {
  animation: dropMenu2 0.5s;
}
#stats > a:hover {
  box-shadow: 1px 1px 10px 1px grey;
  transition-duration: 0.5s;
}
#res {
  animation: dropMenu3 0.5s;
}

#res > a:hover,
#res > div > img:hover {
  box-shadow: 1px 1px 10px 1px grey;
  transition-duration: 0.5s;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1);
}

a > div > img {
  width: 25px;
  margin-right: 0.5rem;
}
@keyframes dropMenu {
  0% {
    height: 100%;
  }

  100% {
    height: 2215%;
  }
}

@keyframes dropMenu2 {
  0% {
    height: 100%;
  }

  100% {
    height: 370%;
  }
}

@keyframes dropMenu3 {
  0% {
    height: 100%;
  }

  100% {
    height: 1645%;
  }
}

@keyframes dropMenuSearch {
  0% {
    height: 100%;
  }

  100% {
    height: 2800%;
  }
}

/* -------------------------------------- */
#mainCenter {
  /* margin-top: 10px; */
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  color: white;
  font-size: 3rem;

  z-index: -1;
  height: 600px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  /* width: 100%; */
}

#mainBack {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(mainPageIcon/preview.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  filter: blur(15px);
}

#playLogo {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  width: 100rem;
  height: 29rem;
  justify-content: flex-end;
  margin-bottom: 3rem;
  padding-bottom: 2rem;

  /* background-color: black; */
}

.verify1 {
  filter: invert();
  width: 25px;
  margin-bottom: 0;
}

.verify2 {
  filter: invert();
  width: 20px;
  margin-bottom: 0;
}

#logoSquare {
  border: 4px solid white;
  border-radius: 10px;
  width: fit-content;
}

.plLogo {
  width: 60px;
}

#title {
  font-size: 2rem;
}

#subTitle {
  font-size: 1.5rem;
}

#centerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mainTime {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  line-height: 23px;
}

.mainTimeItem > span {
  font-size: 1.2rem;
  font-weight: 1000;
  margin-top: 5px;
}
.mainTimeItem {
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 13px 2px 13px;
  border-radius: 5px;
}

.mainTimeItem:first-child {
  margin-left: 0;
}

.view {
  border: 2px solid white;
  border-radius: 15px;
  font-size: 1rem;
  padding: 15px;
  cursor: pointer;
}

#videoBox {
  width: 100rem;
  border-radius: 2rem;

  height: 42rem;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
}

video {
  width: max-content;
  height: max-content;
  position: relative;
}

#textZone {
  /* margin: 0px 0px 10px; */
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  width: 80%;
  top: 40vh;
  left: 50vw;
  cursor: default;

  transform: translate(-50%, -50%);
}

#trendingList {
  display: flex;
  justify-content: space-between;
}

#topList {
  display: flex;
  justify-content: space-between;
}

#trCategory {
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  opacity: 0.7;
}

#top {
  margin-left: 2rem;
}

/* trending 누르면 hr1, top누르면 hr2 */
#hr1 {
  border: solid 0.1px black;
  display: block;
  width: 9rem;
  position: absolute;
}
#hr2 {
  border: solid 0.1px black;
  width: 3.5rem;
  left: 14rem;
  position: absolute;
  display: none;
}

#mainItemList {
  padding: 3rem;
  position: relative;
}

.category {
  cursor: pointer;
}

/* trendingItemList 를 none하면 hr3의 margin-bottom 35rem
  topItemList 를 none하면 hr3의 margin 0
*/
#trendingItemList {
  display: flex;
  z-index: -99;
  margin-bottom: 50px;
}
#topItemList {
  width: 102.1rem;
  display: flex;
  margin-bottom: 50px;
  position: absolute;
  top: 8.15rem;
  font-family: "Poppins-Medium", sans-serif;

  /* 8.6 */
}
#hr3 {
  margin-bottom: 0rem;
}

.listName {
  display: flex;
  font-size: 0.6rem;
  color: gray;
  font-weight: bold;
  justify-content: space-between;
}

#trCategoryKind {
  display: flex;
}

.kindButton {
  font-size: 0.8rem;
  display: flex;
  border: 1px solid lightgray;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  width: 6rem;
  border-radius: 10px;
  font-weight: bold;
}
.kindButton:first-child {
  margin-right: 1rem;
}
.trendingItem,
.topItem {
  width: 45%;
}
.trendingItem:first-child {
  margin-right: 7rem;
}
.topItem:first-child {
  margin-right: 7rem;
}
.displayFlex {
  display: flex;
  width: 12rem;
  justify-content: space-between;
}

#listNameRight {
  width: 12rem;
  justify-content: space-between;
}

.listOneItem {
  display: flex;
  justify-content: space-between;
  line-height: 5.5rem;
  white-space: nowrap;
  overflow: unset;
}
.listOneItem:hover {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 10px;
}

.listSearchItem {
  display: flex;
  justify-content: space-between;
  line-height: 5.5rem;
  white-space: nowrap;
  overflow: unset;
  height: 7vh;
}

.listSearchItem > div > div > img {
  width: 4rem;
  border-radius: 10px;
}

.listOneItem > div > div > img {
  width: 4rem;
  border-radius: 10px;
}

#listOne {
  display: none;
}
.list {
  font-size: 1.1rem;
  color: gray;
  width: 12px;
  margin: 0;
}

.itemSector1 {
  display: flex;
  width: 23rem;
  font-size: 0.9rem;
  align-items: center;
  overflow: hidden;
}
.itemSector1 > div {
  margin-left: 20px;
}

.itemSector1 > :first-child {
  margin-left: 0;
}

.itemSector2 {
  display: flex;
  justify-content: space-between;
  width: 12rem;
  align-items: center;
  font-size: 0.85rem;
  text-align: right;
  overflow: hidden;
}

.fontBlack {
  font-size: 2rem;
  font-weight: 600;
}

#image_container,
#image_container2 {
  position: absolute;
  display: inline;
  /* width: 200px; */
  left: 0;

  /* float: left; */
  /* overflow: hidden; */

  /* display: none; */
}
.animated {
  transition: left 0.5s ease-out;
}

#gridItem_container {
  height: 80rem;
  width: 100%;
}
#image_container > div,
#image_container2 > div {
  margin-left: 15px;
  /* position: absolute; */
  top: 10px;
  left: 10px;
  z-index: 4;
  /* transform: translate(-50%, -50%); */
}
#image_container:first-child,
#image_container2:first-child {
  margin-left: -6px;
}
#gridItem_container > div {
  margin-left: 10px;
}

#gridItem_container:first-child {
  margin-left: -6px;
}
/* #image_container > div > img {
  position: relative;
  width: 530px;
  height: 330px;
} */

.backZone {
  height: 335px;
  /* float: left; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition-duration: 0.3s;
  overflow: hidden;
}

#backZoneItem1 {
  background: url(mainPageIcon/preview.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZoneItem2 {
  background: url(mainPageIcon/fyaBack.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZoneItem3 {
  background: url(mainPageIcon/somBack.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZoneItem4 {
  background: url(mainPageIcon/theBack.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZoneItem5 {
  background: url(mainPageIcon/bowBack.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* backZone2 */
#backZone2Item1 {
  background: url(mainPageIcon/mfBack.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZone2Item2 {
  background: url(mainPageIcon/inBack.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZone2Item3 {
  background: url(mainPageIcon/sapBack.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZone2Item4 {
  background: url(mainPageIcon/llBack.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZone2Item5 {
  background: url(mainPageIcon/vfBack.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZone2Item6 {
  background: url(mainPageIcon/minBack.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#backZone2Item7 {
  background: url(mainPageIcon/potBack.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ---------------- */

#backZoneGridItem1 {
  background: url(mainPageIcon/art.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZoneGridItem2 {
  background: url(mainPageIcon/music.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZoneGridItem3 {
  background: url(mainPageIcon/trading-cards.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZoneGridItem4 {
  background: url(mainPageIcon/collectibles.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZoneGridItem5 {
  background: url(mainPageIcon/photography-category.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZoneGridItem6 {
  background: url(mainPageIcon/utility.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZoneGridItem7 {
  background: url(mainPageIcon/domain-names.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZoneGridItem8 {
  background: url(mainPageIcon/sports.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backZoneGridItem9 {
  background: url(mainPageIcon/virtual-worlds.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.active {
  display: block;
}
.imageItem,
.imageItem2 {
  display: inline;

  float: left;
  width: 530px;
  overflow: hidden;
  display: flex;
  /* position: absolute; */
  transform: translate(50, 50);
  flex-direction: column;
  margin-bottom: 30px;
}
.imageGridItem {
  display: inline;

  float: left;
  width: 32%;
  overflow: hidden;
  display: flex;
  /* position: absolute; */
  transform: translate(50, 50);
  flex-direction: column;
  margin-bottom: 30px;
  margin-right: 1rem;
  overflow: hidden;
  flex-wrap: nowrap;
}
.wrap {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.coin {
  display: flex;
  flex-direction: column;
  line-height: 1rem;
  align-items: flex-end;
  justify-content: center;

  padding-top: 0.8rem;
}

.volumePercentUp {
  color: rgb(52, 199, 123);
}
.volumePercentDown {
  color: red;
}

a {
  text-decoration: none;
  color: black;
}
.backZoneBackCover {
  overflow: hidden;
  border-radius: 20px;
}

.backZone:hover {
  scale: 1.1;
  overflow: hidden;
  height: 335px;
  border-radius: 15px;
}
.backZone::after {
  overflow: hidden;
  border-radius: 15px;
}
::after {
  box-sizing: border-box;
}
.imageText {
  z-index: 1;
  display: flex;
  padding: 16px;
  /* background-color: white; */
  margin-top: -30px;
  align-items: flex-end;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.03);
}
.imageText > div > img {
  width: 70px;
  height: 70px;
  border: 6px solid white;
  border-radius: 10px;
}
.imageText > div > p {
  font-size: 0.9rem;
  font-weight: 600;

  margin-top: 0;

  opacity: 0.85;
}

.imageTextGrid > div > p {
  font-size: 1.1rem;
  font-weight: 500;

  margin-top: 0;
}

.imageTextGrid {
  z-index: 1;
  display: flex;
  padding: 16px 16px 0 16px;
  text-align: center;
  justify-content: center;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.06);
}
.imageTextGrid > div {
  text-align: center;
}

#prev,
#next,
#prev2,
#next2 {
  top: 150px;
  height: fit-content;
  width: fit-content;
  background: none;
  border: none;
  position: absolute;
  z-index: 1;
}

#prev,
#prev2 {
  left: -30px;
}

#next,
#next2 {
  right: -30px;
}
#prev > img,
#prev2 > img {
  border: 5px sold white;
  width: 45px;
  /* filter: invert(); */
}
#next > img,
#next2 > img {
  border: 5px sold white;
  width: 45px;
  /* filter: invert(); */
}

#slideImg,
#slideImg2 {
  position: relative;
  /* height: 400px; */
  /* width: 1650px; */
  height: 410px;
  white-space: nowrap;

  overflow: hidden;
}

#buttonDiv,
#buttonDiv2 {
  position: relative;
}

/* #007aff */

#more {
  /* height: 80rem; */
  background-color: #007aff;
  color: white;
  font-size: 0.9rem;
  padding: 3rem 10rem 1rem 10rem;
  font-family: "Poppins-Medium", sans-serif;
  cursor: default;
}

.big {
  font-weight: 700;
  font-size: 1.2rem;
  /* margin-bottom: 5rem; */
  margin: 0.5rem 0 0.5rem 0;
}

.small {
  /* margin-bottom: 5rem; */
  margin: 0 0 0.5rem 0;
}
.small2 {
  /* margin-bottom: 5rem; */
  margin: 0 0 0.5rem 0;
  font-size: 0.8rem;
}

#moreUp {
  display: flex;
  justify-content: space-between;
}
#upLeft {
  width: 45%;
}
#upRight {
  width: 45%;
}

#emailInput {
  border-radius: 10px;
  border: 3px solid lightgray;
  width: calc(90% / 4 * 3);
  height: 2.5rem;
  padding: 0.5rem;
  color: black;
  background-color: white;
}

#signUp {
  border-radius: 5px;
  border: none;
  margin-left: 1rem;
  width: calc(90% / 5);
  /* font-family: "Poppins-Medium", sans-serif; */
  background-color: rgb(54, 155, 255);
  color: white;
  padding: 0.6rem;
}
input,
button {
  font-family: "Poppins-Medium", sans-serif;
}

#more > hr {
  opacity: 0.3;
  margin-top: 2rem;
}

#upRight > div > button > img {
  width: 20px;
  filter: invert();
}

#upRight > div > button {
  border: none;
  background-color: rgb(54, 155, 255);
  border-radius: 10px;
  padding: 0.9rem;
  margin-right: 0.4rem;
  /* width: calc(100% / 8); */
}

#moreDown {
  display: flex;
  padding-top: 2.5rem;
  justify-content: space-between;
}

#openSeaWhite {
  display: flex;
  flex-direction: column;
  width: calc(100% / 7 * 2);
}

.moreList {
  width: calc(100% / 7);
  margin-bottom: 3rem;
  cursor: pointer;
}
.dropList:hover {
  box-shadow: 1px 1px 10px 1px grey;
  transition-duration: 0.5s;
}

.middle {
  font-weight: 700;
  font-size: 0.9rem;
  /* margin-bottom: 5rem; */
  margin: 0.5rem 0 1.5rem 0;
}

#listUnder {
  display: flex;
  width: calc(100% / 7);

  flex-direction: column;
}

#services {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  margin: 2rem 0 1rem 0;
}
#servicesRight {
  display: flex;
  justify-content: space-between;
}

#servicesRight > div {
  margin-left: 1rem;
}

#servicesRight:first-child {
  margin: 0;
}
